<div class="container">
  <div class="content" style="padding:40px;">

  <%= form_for(@user) do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div>
        <%= f.label :name %>
        <%= f.email_field :name %>
      </div>
  <% end %>

  </div>
</div>