<div class="container">

  <div class="content">

    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right"><br>
          <%= link_to(t(:more_cities), "#") %>
        </div>
        <h4>
          <%= t("Welp %{city}", city: t("Los Angeles")) %>
        </h4>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-7">
        <div class="well">
          <h3 class="text-primary">
            <%= t(:subtitle) %>
          </h3>
          <p class="text-muted">
            <%= t(:title_description) %>
          </p>
          <p>
            <%= link_to(t(:create_account), "#", class: "btn btn-primary") %>
          </p>
        </div>

        <h3 class="text-primary">
          <%= t(:best_of_welp, city: t(:los_angeles)) %>
        </h3>

        <hr>

        <small class="pull-right">
          <%=link_to(t(:see_more), '#') %>
        </small>

        <h5 class="text-primary">
          <%= t(:restaurants) %>
        </h5>

        <% @restaurants.each_with_index do |restaurant, index| %>
          <div class="media">
            <a class="pull-left" href="#">
              <div class="media-object media-img"></div>
            </a>
            <div class="media-body">
              <strong>
                <%= index + 1 %>.
                <%= link_to(restaurant[:name], '#') %>
              </strong>

              <div class="text-muted">
                <%= image_tag("#{restaurant[:rating]}-stars.png", title: t(:rating, rating: restaurant[:rating], skip_decorations: true)) %>
                <%= t(:reviews, count: restaurant[:review_count]) %>
              </div>

              <div class="media">
                <a class="pull-left" href="#">
                  <div class="media-object media-img-sm"></div>
                </a>
                <div class="media-body">
                  <p> <%= restaurant[:last_comment] %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>

      <div class="col-sm-5">
        <%= form_tag do %>
          <div class="form-group">
            <label><small>
              <%= t(:find) %>
            </small></label>
            <input type="text" class="form-control" placeholder="<%= t(:los_angeles, skip_decorations: true) %>">
          </div>
          <div class="form-group">
            <label><small>
              <%= t(:near) %>
            </small></label>
            <input type="text" class="form-control" value="<%= t(:los_angeles, skip_decorations: true) %>">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default btn-sm">
              <%= t(:search) %>
            </button>
          </div>
        <% end %>

        <hr>

        <h4 class="text-primary">
          <%= t(:review_of_the_day) %>
        </h4>

        <div class="media">
          <a class="pull-left" href="#">
            <div class="media-object media-img"></div>
          </a>
          <div class="media-body">
            <strong>
              <%= t(:user_reviewed_restaurant, user: 'Jane Smith', restaurant: "<a href='#'>Ricky's Fish Tacos</a>") %>
            </strong>
            <div>
              <%= image_tag("5-stars.png", :title => t(:stars, num: 5, skip_decorations: true)) %>
            </div>
            <small class="text-muted">
              <%= t(:reviews, count: 234) %>
            </small>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, architecto, laboriosam doloribus sequi tenetur maxime magni porro sunt facilis officia deserunt blanditiis vitae consectetur rerum alias dolorem et dignissimos...
              <%= link_to(t(:read_more), "#") %>
            </p>
          </div>
        </div>

        <hr>

        <h4 class="text-primary">
          <%= t(:welp_on_the_go) %>
        </h4>

        <p>
          <%= t(:get_welp) %>
        </p>

        <button type="submit" class="btn btn-default btn-sm">
          <%= t(:get_it_free) %>
        </button>

      </div>
    </div>
    <br><br><br>
  </div>

</div>